body {
  font-family: sans-serif;
}
.ui-menubar .ui-menubar-custom {
  float: left !important;
}
.ui-menubar p-menubarsub {
  float: right;
}
.ch-vert-center {
  text-align: center;
}
.ch-pos-relative {
  position: relative;
}
